.login-layout {
    align-items: center;
    justify-content: center;

    .login-layout-content {
        padding: 24px;
        flex: none;

        .login-card-title {
            background-color: #e0e0e0;
        }
    }
}
