.new-home-layout {
    align-items: center;
    justify-content: center;

    .new-home-layout-content {
        padding: 24px;
        flex: none;

        .new-home-card-title {
            background-color: #e0e0e0;
        }
    }
}
