.home-layout {
    background: url('/assets/home.jpg') center / cover;
}

.mdl-dialog__title {
    font-size: 2rem;
}

.mdl-textfield {
    .mdl-textfield__input {
        color: rgba(0,0,0,0.87);
    }
    .mdl-textfield__label {
        &:after {
            background: gray;
        }
    }
    &.mdl-textfield--floating-label {
        .mdl-textfield__label {
            color: gray;
        }
    }
}

.mdl-layout-title {
    cursor: pointer;
    height: 100%;
    line-height: 64px;
    text-decoration: none;
    color: white;
}

.mdl-navigation {
    .mdl-navigation__link {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.54);

        &:hover {
            color: #424242;
            background-color: rgba(255, 255, 255, 0.54);
        }
    }
}

.input-dropdown-container {
    .input-dropdown-label {
        font-size: 12px;
        color: gray;
    }
    .input-dropdown {
        width: 100%;
        background-color: white;
        color: #747474;
        position: relative;
        height: 36px;
        line-height: 36px;
        font-size: 16px;
        outline: 0;
    }
}

div._dialog_overlay {
    z-index: 0 !important;
}
