body {
    min-width: 300px;
    position: relative;
}

.home-layout {
    background: url('/assets/home.jpg') center / cover;

    .app-header {
        background-color: #424242;
    }
}

.mdl-button {
    &.mdl-button--colored {
        color: #424242;
    }
}

.mdl-dialog__title {
    font-size: 2rem;
}

.mdl-textfield {
    .mdl-textfield__input {
        color: rgba(0,0,0,0.87);
    }
    .mdl-textfield__label {
        &:after {
            background: gray;
        }
    }
    &.mdl-textfield--floating-label {
        .mdl-textfield__label {
            color: gray;
        }
    }
}

.mdl-layout-title {
    cursor: pointer;
}

.mdl-layout__header-row {
    .mdl-layout-title {
        cursor: pointer;
        line-height: 64px;
        text-decoration: none;
        color: white;
    }
}

.mdl-navigation {
    .mdl-navigation__link {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.54);

        &:hover {
            color: #424242;
            background-color: rgba(255, 255, 255, 0.54);
        }
    }
}

.input-dropdown-container {
    .input-dropdown-label {
        font-size: 12px;
        color: gray;
    }
    .input-dropdown {
        width: 100%;
        background-color: white;
        color: #747474;
        position: relative;
        height: 36px;
        line-height: 36px;
        font-size: 16px;
        outline: 0;
    }
}

dialog[open] {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.mdl-snackbar {
    bottom: 70px;
}

.footer {
    z-index: 1;
    height: 70px;
    min-height: 70px;
    padding: 16px;
    box-sizing: border-box;

    ul, ol {
        line-height: 36px;
    }

    .footer-copyright {
        color: #d6d6d6;
    }

    .footer-link {
        color: #d6d6d6;
        cursor: pointer;

        &:hover,
        &:active {
            color: #fff;
        }
    }
}

div._dialog_overlay {
    z-index: -1 !important;
}

@media only screen and (max-width: 480px) {
    .mdl-snackbar {
        bottom: 120px;
    }

    .footer {
        height: 120px;
        min-height: 120px;

        .mdl-mini-footer__left-section,
        .mdl-mini-footer__right-section {
            width: 100%;
        }
    }
}
