<div class="device-page">
    <h4>Connect Device</h4>
    <div class="selected-device">
        <div class="back-button-container">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--mini-fab" ui-sref="network">
                <i class="material-icons">chevron_left</i>
            </button>
        </div>
        <div class="selected-device-message-container">
            <div>Select the device to configure</div>
        </div>
    </div>
    <div class="networks-list">
        <div class="network-scan-status">
            <div class="network-scan-status-action">
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored" ng-click="scanDevices()" ng-hide="scanning">Scan</button>
                <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active network-scan-status-loader" ng-show="scanning"></div>
            </div>
            <div class="network-scan-status-message">{{scanMessage}}</div>
        </div>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp network-table">
            <thead>
                <tr>
                    <th class="network-name mdl-data-table__cell--non-numeric">Device ID</th>
                    <th class="network-connect-button-container mdl-data-table__cell--non-numeric">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="network" ng-repeat="network in devices | orderBy: 'ssid'" ng-show="devices.length">
                    <td class="network-name mdl-data-table__cell--non-numeric">{{network.ssid}}</td>
                    <td class="network-connect-button-container mdl-data-table__cell--non-numeric">
                        <button type="button" class="mdl-button mdl-js-button mdl-button--colored network-connect-button" ng-click="connectDevice(network)">Select</button>
                    </td>
                </tr>
                <tr class="network-message" ng-hide="devices.length">
                    <td class="network-message" colspan="4">No Devices Found</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
